// ----- COLORS -----

$color-grey: #5B605F;
$color-dark-grey: #4a4a49;
$color-orange: #FF6600;
$color-background: #FFFFFA;
$color-info: #3498DB;
$color-warning: #FFB03B;
$color-success: #468966;
$color-trash-icon: #BD4932;
$color-light-grey: #A1A194;



// ----- FONTS -----
$font-open-sans: "Open Sans", sans-serif;
$font-logo: "Charmonman", sans-serif;

$font-size: 14px;
