// ----- COLORS -----
:root{
  --warning-new: #ed9877;
}
$color-decrease: #890101;
$color-growth: #006100;
$color-stable: #BBBCC2;





// ----- FONTS -----
//$font-open-sans: "Open Sans", sans-serif;


