### Node ###
# Logs
logs
*.log
npm-debug.log*
package-lock.json
node_modules/
.sass-cache/

distribution/

### OSX ###
.DS_Store
.AppleDouble
.LSOverride

### Linux ###
*~

### Code ###
# Visual Studio Code - https://code.visualstudio.com/
.settings/
.vscode/

### Webstorm ###
.idea/

### Other ###
.test/
.solution
### Used for tests only ###
development/js/users.json
development/js/db.json
development/assets/black-dashboard-react/