@include gridLayout;
@import "../settings/variables";
@import "../settings/mixins";

.footer {
    background-color: $color-grey;
    width: 100%;
    word-spacing: 2px;

    &__container {
        height: 300px;
    }

    &__title {
        color: white;
        font-size: 2.3em;
        margin: 45px 0 20px 0;
    }

    &__text {
        color: white;
        font-size: 1.5em;
        line-height: 1.2;
    }

    &__list {
        color: white;
        list-style-type: disc;
        font-size: 1.5em;
        margin-left: 25px;

        &-el {
            padding-bottom: 10px;
        }
    }
}

.newsletter__form-input {
    width: 100%;
}
.newsletter__button {
    outline: none;
    border: none;
}

.socialmedia__icons {
    margin-top: 20px;
    text-decoration: none;

    &--facebook {
        margin-left: 20px;
        text-decoration: none;
        margin-right: 20px;
    }
    &--twitter {
        text-decoration: none;

        margin-right: 20px;
    }
    &--instagram {
        text-decoration: none;
    }
}

// ----- SVG STYLE -----
svg {
    width: 40px;
    height: 40px;
    fill: white;
}
svg:hover {
    fill: $color-orange;
}

// ----- GRID -----

.row > .col-4.footer__col-4 {
    height: 100%;
    padding: 0 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

// ----- COPYRIGHT -----
.copyright {

    &__container {
        background-color: $color-dark-grey;
        width: 100%;
        height: 65px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }

    &__small {
        color: white;
        font-size: 1.2em;
        margin-right: 5px;
    }

    &__link {
        text-decoration: none;
        font-size: 1.2em;
        font-family: $font-logo;

        #first {
            font-weight: 100;
            color: white;
        }

        #second {
            color: $color-orange;
            font-weight: 700;
        }

        #third {
            font-weight: 100;
            color: white;
        }
    }
}
